.container {
  border: 5px solid gold;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: pink;
}

.container div {
  padding: 10px 14px;
  margin: 10px;
  text-align: center;
  font-size: 2em;
  color: white;
}

.item1 {
  background-color: purple;
  /* align-self: flex-end; */
}

.item2 {
  background-color: rgb(139, 134, 139);
}

.item3 {
  background-color: black;
}

.item4 {
  background-color: blue;
  /* align-self: flex-start; */
}

html,
body {
  height: 100%;
  padding: 40px 10px;
}
