.container > div {
  padding: 10px;
  text-align: center;
  font-size: 2em;
  color: #ffeead;
}

/* .container {
    flex-wrap: nowrap | wrap | wrap-reverse;
  } 
*/

.container {
  border: black 5px solid;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

html,
body {
  background-color: #ffeead;
  margin: 10px;
}

.container > .item1 {
  background-color: #96ceb4;
}

.container > .item2 {
  background-color: #ff6f69;
}

.container > .item3 {
  background-color: #88d8b0;
  border:black 2px solid;
}

